/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */ 
@import '../3rd-party/font-awesome.min.css';
/* components */

/* CUSTOM STYLE */

.logo {
   width: 50px;
}
.main-title {
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
}
.main-description {
    font-size: 20px;
    text-align: center;
}

footer.container {
    padding-top: 0;
}
.row.socials {
    display: flex;
    gap: 0.5rem;
    padding: 0.5em 0;
    font-size: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.row.socials > a {
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: color 1s, background-color 1s;
    /* transition: all 0.3s; */
}
.row.socials > a:hover {
    background-color: #fff;
    color: #03a9f4;
    /*transition: color 1s;*/
}
