/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */ 

/* components */

/* CUSTOM STYLE */

.logo {
   width: 50px;
}
.main-title {
    font-size: 65px;
    text-transform: uppercase;
    text-align: center;
}
.main-description {
    font-size: 20px;
    text-align: center;
}
